.swiper {
    width: 99%;
    height: 90vh;
    max-height: 1100px;
    font-family: 'Poppins', sans-serif;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  .slider-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

@media  (max-width: 768px) {
    .swiper-slide img {
        width: 90% !important;
    }
}

.slider-slide {
    width: 100%;
    display: none;
    position: relative;
}

.slider-slide img {
    width: 100%;
    height: auto;
}

.slider-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.slider-text h3 {
    margin: 20px;
    color: #fff;
    font-size: 62px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:800px) {
    .swiper {
        max-height: 400px;
    }
.slider-text h3 {
    margin: 10px;
    color: #fff;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
}
}


.main_1563 span {
    color: #000 !important;
  }
  
#sc_layouts_menu_122041324 span, footer span, .submenu span {
    color: #fff !important;
}